* {
    margin: 0px;
}

header {
    box-sizing: border-box;
    padding: 20px 15px;
    width: 100%;
    height: fit-content;
    position: fixed;
    box-shadow: 2px 5px 5px #cccbcb;
    overflow: auto;
    background: white;
    z-index: 1;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(187, 187, 187);
}

main {
    position: relative;
    top: 70px;
    left: 20px;
    z-index: 0;
}