@media only screen and (min-width: 530px) and (max-width: 768px) {
    .box-wrapper {
        flex-wrap: wrap;
    }
    .box-landscape {
        width: 48%;
    }
    .box {
        width: 48%;
    }
}

@media (max-width: 530px) {
    .box-wrapper {
        flex-wrap: wrap;
    }
    .box-landscape {
        width: 100%;
    }
    .box {
        width: 100%;
    }
    .nav-bar {
        visibility: hidden;
    }
}