@media(max-width: 600px) {
    .header-container {
        display: block;
        text-align: center;
    }
    .box {
        width: 100%;
    }
    .box-landscape {
        width: 100%;
    }
    .title-img {
        width: 100%;
    }
}